@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Poppins:wght@400;500;600;700&family=Qwitcher+Grypen:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.text-color{
    font-size: 48px;
}
.list-group{
    list-style: none;
}
.pink{
    color:#341f97;
}
.button-change{
    width: 232px; 
    height: 45px;

}
.height{
    height: 480px;
    margin-bottom: 50px;
}
.hot-margin{
    padding-top: 50px;
    padding-bottom: 43px;
    padding-left: 30px;
    padding-right:30px ;
    border-radius: 30px;
   
}